* {
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
}

img{
    min-width: 10rem;
    min-height: 10rem;
    
    width: 20rem;
    height: 20rem;
    transition: transform 0.2s;

    background: url(thNh-1PXKMngskyPlYOZZ5tklyxqOhT6bNmraga92mg-removebg-preview.png);
    z-index: 2; 

  }
  img:hover {
    transform: scale(1.2);
  }
  .elipse{
    padding: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FF757C;
    border-radius: 50%;
    z-index: 1;

  }
  h1{
      font-size: 4rem;
      
  }
  p{
    font-size: 1.25rem;
    line-height: 24px;
  }

.group1 button, .group2 button {
    height: 5rem;
    width: 10rem;
    background-color: #FF747C;
    border-radius: 5rem;
    text-align: center; 
    border: none;
    color: black; 
    font-size: 20px; 
    cursor: pointer; 
}


.group1 button:hover, .group2 button:hover {
    background-color: #FF6268; 
}


