<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UMD PokeList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <script>
    function vote() {
        location.href = "/vote"
    }
    function tierlist() {
        location.href = "/tierlist"
    }
  </script>
  <body>
    <h1>UMD Pokemon Tier List!</h1>
    <p>See what UMD has to say about it’s favorite Pokemon.</p>
    <p>Vote now and see where your favorite Pokemon lands!</p>
    <button onclick="vote()">Vote</button>
    <button onclick="tierlist()">View Tier List</button>
  </body>
</html>
