<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UMD PokeList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <script>
  </script>
  <body>
    <h1>Tier List</h1>
    <a href="/">Home</a>
    <a href="/vote">Vote</a>
    <table>
        <tr><th>S</th><td>
            <img src="https://upload.wikimedia.org/wikipedia/en/a/a6/Pok%C3%A9mon_Pikachu_art.png" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/en/a/a6/Pok%C3%A9mon_Pikachu_art.png" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/en/a/a6/Pok%C3%A9mon_Pikachu_art.png" alt="">
        </td></tr>
        <tr><th>A</th><td></td></tr>
        <tr><th>B</th><td></td></tr>
        <tr><th>C</th><td></td></tr>
        <tr><th>D</th><td>
            <img src="https://upload.wikimedia.org/wikipedia/en/a/a6/Pok%C3%A9mon_Pikachu_art.png" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/en/a/a6/Pok%C3%A9mon_Pikachu_art.png" alt="">
        </td></tr>
        <tr><th>E</th><td></td></tr>
    </table>
  </body>
</html>
